@import './variables';

.workout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;

&__item{
    &:not(:first-child){
    margin-top: 20px;
    }
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    align-items: center;
    background-color: $grey;
    width: 40rem;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    & button{
        color: $white;
    }

    &--check{
        border: $white;
    }
}
    &__content{
    margin: auto 5rem;
}
}