.workout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

&__item{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    align-items: center;
}
    &__content{
    margin: auto 5rem;
}
}