@import './components/styling/reusable/mixins';

html {
background-color: $white;
}

.App {
  text-align: center;
}

.container__main{
  display: flex;
  flex-direction: column;
  margin: 2rem 6rem;
  @include tabletSize{
    flex-direction: row;
  justify-content: space-between;
}
}