@import './components/styling/reusable/mixins';

html {
background-color: $white;
}

.App {
  text-align: center;
}

.container__main{
  display: flex;
  justify-content: space-between;
  margin: 2rem 6rem;
}